# Default locale for UI strings
locale: "fr"

# Customize UI strings
ui-strings:
  attention:            "Attention"
  ok:                   "J'ai compris"
  # display-help:         "Display help"
  # copy-to-clipboard:    "Copy in the clipboard"
  # mail-to-message:      "Send by email"
  # mail-subject:         "Results"
  # mail-body:            "Hi,\n%s\nThanks."
  # redo:                 "Redo"
  # contact-intro:        "Contact: "
  # toggle-summary-style: "Toggle summary style"

# Allow users to send you emails with the summary?
# mail-to: "bzg@bzg.fr"

# Display help along with questions by default?
display-help: true

# Display score along with the results?
display-score: false

init-scores:
  score-1:
    display: "Score for 1"
    value: 0
    result: "1 wins!"
  score-2:
    display: "Score for 2"
    value: 0
    result: "2 wins!"

# Website header
header:
 title:    "Quel comportement adopter face au Coronavirus ?"
 logo:     ""
 color:    "is-primary"
 subtitle: "Les contenus de ce site proviennent du site [www.gouvernement.fr](https://www.gouvernement.fr/info-coronavirus)."

# Website footer
footer:
 text:    "Les contenus de ce site proviennent du site [www.gouvernement.fr](https://www.gouvernement.fr/info-coronavirus).<br/>Le code source est [disponible ici sous licence libre](https://github.com/bzg/covid19-quel-comportement)."
 contact:  "bzg@bzg.fr"

# Mandatory configuration option
tree:
  - name:       "0"
    Text:       "À lire avant de commencer."
    home-page:  true
    force-help: true
    no-summary: true
    help:       "Les conseils présentés reprennent les consignes officielles lisibles sur le site [www.gouvernement.fr](https://www.gouvernement.fr/info-coronavirus).<br/>Elles seront mises à jour au fur et à mesure.<br/>**En cas de doute**, référez-vous aux [consignes officielles](https://www.gouvernement.fr/info-coronavirus)."
    choices:
    - answer: "J'ai bien compris."
      goto:   "1"
      color:  "is-info"

  - name:       "1"
    text:       "Avez-vous des symptômes liés au Coronavirus (toux, fièvre, difficultés respiratoires) ?"
    start-page: true
    choices:
    - answer:  "Non"
      color:   "is-info"
      explain: "Pas de toux, fièvre ou de difficulté respiratoire."
      summary: "Je n'ai pas de symptômes liés au Coronavirus."
      goto:    "11"
    - answer:  "Oui, légers"
      summary: "J'ai des symptômes légers liés au Coronavirus."
      explain: "De la toux et de la fièvre."
      goto:    "3"
      color:   "is-warning"
    - answer:  "Oui, graves"
      summary: ["J'ai des symptômes **graves** liés au Coronavirus.", "[J’appelle le SAMU-Centre 15](tel:15)."]
      explain: "Des difficultés respiratoires et des signes d’étouffement."
      color:   "is-danger"
      goto:    "end"

  - name:       "3"
    text:       "Faites-vous partie des cas qui doivent se faire tester ?"
    choices:
    - answer:  "Oui"
      summary: ["Je fais partie des cas qui doivent se faire tester.","Appelez votre médecin généraliste."]
      explain: "Vous êtes **une personne fragile ou à risque**, vous présentez des signes de gravité, vous êtes déjà hospitalisé, vous êtes **un professionnel de santé**, vous êtes une personne fragile en structure collective (EPHAD, handicap).  Vérifiez la liste des personnes à risque sur [le site du gouvernement](https://www.gouvernement.fr/info-coronavirus)."
      goto:    "4"
      color:   "is-warning"
    - answer:  "Non"
      summary: ["Je n'appartiens pas aux catégories qui doivent se faire tester.","**Appelez votre médecin traitant ou un médecin en téléconsultation qui pourra effectuer le diagnostic sur signes cliniques**."]
      explain: "Vous n'appartenez pas aux catégories qui doivent se faire tester.  **Un médecin effectue le diagnostic sur signes cliniques**.  Les tests en ambulatoire sont possibles."
      color:   "is-info"
      goto:    "4"

  - name:       "4"
    text:       "Êtes-vous testé ou diagnostiqué cliniquement comme positif ?"
    choices:
    - answer:  "Mon test ou mon diagnostic clinique est **positif**."
      goto:    "end"
      summary: ["Je reste strictement à domicile, si j’ai un rendez-vous médical indispensable je porte un masque pour m’y rendre. En cas de difficulté respiratoire, [j’appelle le 15](tel:15). Je me fais prescrire un arrêt de travail initial d’une durée de 7 à 14 jours, entre le 6ème et le 8ème jour j’ai un avis médical, à distance, pour faire surveiller mes symptômes. En fonction de mon état je renouvelle cet arrêt pour 7 jours supplémentaires. Mon isolement sera levé 48h après la résolution complète des symptômes.", "Suivez les instructions de votre médecin : **restez strictement à domicile**."]
      color:   "is-info"
    - answer:  "Mon test ou mon diagnostic clinique est **négatif**."
      color:   "is-warning"
      summary: "Je continue d'appliquer les gestes barrières (je me lave les mains très régulièrement, je tousse et j’éternue dans mon coude, j’utilise des mouchoirs à usage unique, je salue sans serrer la main et j’évite les embrassades) et je limite mes déplacements au strict nécessaire."
      goto:    "end"

  - name:       "11"
    text:       "Avez-vous ou avez-vous eu des contacts étroits avec un cas de COVID19 ?"
    choices:
    - answer:  "Oui"
      color:   "is-danger"
      summary: ["**Je m’isole à domicile**, je réduis strictement mes sorties sauf pour ravitaillement alimentaire, j’applique les gestes barrières (je me lave les mains très régulièrement, je tousse et j’éternue dans mon coude, j’utilise des mouchoirs à usage unique, je salue sans serrer la main et j’évite les embrassades), **je prends ma température 2 fois par jour** et j’auto-surveille les symptômes de la maladie, je fais du **télétravail**.", "Restez chez vous."]
      goto:    "end"
    - answer:  "Oui, en tant que professionnel de santé"
      color:   "is-warning"
      summary: ["Je suis un professionnel de santé.  Si **j'ai été en contact avec une personne malade du COVID-19 en l’absence de mesures de protection appropriées**, je m’auto-surveille en prenant ma température 2 fois par jour, j’applique les gestes barrières (je me lave les mains très régulièrement, je tousse et j’éternue dans mon coude, j’utilise des mouchoirs à usage unique, je salue sans serrer la main et j’évite les embrassades), je porte un masque sur mon lieu de travail et avec les malades, je contacte un médecin et me fais tester systématiquement en cas d’apparition de symptômes.","Je porte un masque sur mon lieu de travail et avec les malades."]
      goto:    "end"
    - answer:  "Non"
      goto:    "end"
      summary: "**J’applique les gestes barrières** (je me lave les mains très régulièrement, je tousse et j’éternue dans mon coude, j’utilise des mouchoirs à usage unique, je salue sans serrer la main et j’évite les embrassades) et **je réduis mes sorties au strict nécessaire** : travail (si télétravail impossible), courses, médecin."
      color:   "is-info"

  - name: "end"
    text: "Merci de votre vigilance."
    done: true
